{% extends "oclock/includes/base_outside.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content%}

<nav class="navbar navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand logo" href="http://ninja-media-script.devdojo.com"><img src="/static/images/logo-light.png" style="height:35px; width:auto;"></a>
<div class="mobile-menu-toggle"><i class="fa fa-bars"></i></div>
<div class="mobile-menu" style="height: 243px;">
<ul>
<li class=""><a href="http://ninja-media-script.devdojo.com"><i class="fa fa-home"></i> Home</a></li>
<li class="dropdown ">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star"></i> Popular <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://ninja-media-script.devdojo.com/popular/week">for the Week</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular/month">for the Month</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular/year">for the Year</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular">All Time</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle categories" data-toggle="dropdown"><i class="fa fa-folder-open"></i> Categories <b class="caret"></b></a>
<ul class="dropdown-menu">
<li>
<a href="http://ninja-media-script.devdojo.com/category/animals">Animals</a>
<a href="http://ninja-media-script.devdojo.com/category/architecture">Architecture</a>
<a href="http://ninja-media-script.devdojo.com/category/cartoon">Cartoon</a>
<a href="http://ninja-media-script.devdojo.com/category/comedy">Comedy</a>
<a href="http://ninja-media-script.devdojo.com/category/comics">Comics</a>
<a href="http://ninja-media-script.devdojo.com/category/family">Family</a>
<a href="http://ninja-media-script.devdojo.com/category/film">Film</a>
<a href="http://ninja-media-script.devdojo.com/category/food">Food</a>
<a href="http://ninja-media-script.devdojo.com/category/music">Music</a>
<a href="http://ninja-media-script.devdojo.com/category/news">News</a>
<a href="http://ninja-media-script.devdojo.com/category/retro">Retro</a>
<a href="http://ninja-media-script.devdojo.com/category/sports">Sports</a>
<a href="http://ninja-media-script.devdojo.com/category/uncategorized">Uncategorized</a>
<a href="http://ninja-media-script.devdojo.com/category/vehicles">Vehicles</a>
</li>
</ul>
</li>
<li class="dropdown ">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i> More <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://ninja-media-script.devdojo.com/pages/add-pages">Add Pages</a></li>                          
</ul>
</li>          
<li><a href="http://ninja-media-script.devdojo.com/random"><i class="fa fa-random"></i> Random</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class=""><a href="/user/login">Login</a></li>
<li class=" active "><a href="/user/register">Sign up</a></li>            
<li><a href="http://ninja-media-script.devdojo.com/upload" class="upload-btn"><i class="fa fa-cloud-upload"></i> Upload</a></li>
</ul>
</div>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav navbar-left">
<!--li><a href="#" id="categories_open"><i class="fa fa-th-list"></i> Categories</a></li-->
<li class=""><a href="http://ninja-media-script.devdojo.com"><i class="fa fa-home"></i><span> Home</span></a><div class="nav-border-bottom"></div></li>
<li class="dropdown ">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star"></i><span> Popular </span><b class="caret"></b><div class="nav-border-bottom"></div></a>
<ul class="dropdown-menu">
<li><a href="http://ninja-media-script.devdojo.com/popular/week">for the Week</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular/month">for the Month</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular/year">for the Year</a></li>
<li><a href="http://ninja-media-script.devdojo.com/popular">All Time</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle categories" data-toggle="dropdown"><i class="fa fa-folder-open"></i><span> Categories </span><b class="caret"></b><div class="nav-border-bottom"></div></a>
<ul class="dropdown-menu">
<li>
<a href="http://ninja-media-script.devdojo.com/category/animals">Animals</a>
<a href="http://ninja-media-script.devdojo.com/category/architecture">Architecture</a>
<a href="http://ninja-media-script.devdojo.com/category/cartoon">Cartoon</a>
<a href="http://ninja-media-script.devdojo.com/category/comedy">Comedy</a>
<a href="http://ninja-media-script.devdojo.com/category/comics">Comics</a>
<a href="http://ninja-media-script.devdojo.com/category/family">Family</a>
<a href="http://ninja-media-script.devdojo.com/category/film">Film</a>
<a href="http://ninja-media-script.devdojo.com/category/food">Food</a>
<a href="http://ninja-media-script.devdojo.com/category/music">Music</a>
<a href="http://ninja-media-script.devdojo.com/category/news">News</a>
<a href="http://ninja-media-script.devdojo.com/category/retro">Retro</a>
<a href="http://ninja-media-script.devdojo.com/category/sports">Sports</a>
<a href="http://ninja-media-script.devdojo.com/category/uncategorized">Uncategorized</a>
<a href="http://ninja-media-script.devdojo.com/category/vehicles">Vehicles</a>
</li>
</ul>
</li>
<li class="dropdown ">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i> More <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://ninja-media-script.devdojo.com/pages/add-pages">Add Pages</a></li>
</ul>
</li>        
</ul>  
<ul class="nav navbar-nav navbar-right">
<li><a href="http://ninja-media-script.devdojo.com/random" class="random"><i class="fa fa-random"></i></a></li>
<li><a href="http://ninja-media-script.devdojo.com/upload" class="upload-btn"><i class="fa fa-cloud-upload"></i> Upload</a></li>
<li class=""><a href="/user/login">Login</a><div class="nav-border-bottom"></div></li>
<li class=" active "><a href="/user/register">Sign up</a><div class="nav-border-bottom"></div></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>

<div id="main_container">
<div class="container">
<form method="post" action="http://ninja-media-script.devdojo.com/signup" class="form-signin" style="display: block; top: -112px;">
<h2 class="form-login-heading">sign up with...</h2>
<div class="social-signup">
<a class="facebook-signup" href="https://www.facebook.com/dialog/oauth?client_id=574958095906653&amp;redirect_uri=http%3A%2F%2Fninja-media-script.devdojo.com%2Fauth%2Ffacebook&amp;state=ddf0bf514eb49f2890108532b51918f6&amp;sdk=php-sdk-3.2.3&amp;scope=email%2C+user_photos"></a>
<a class="google-signup" href="http://ninja-media-script.devdojo.com/auth/google"></a>
</div>
<!-- check for notifications -->
<div class="line"></div>
<h2 class="form-login-heading-second">or use your email address</h2>
<div class="line"></div>
<input type="text" class="form-control" id="username" name="username" placeholder="Username">
<input type="text" class="form-control" id="email" name="email" style="-webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;" placeholder="Email Address">
<input type="password" class="form-control" id="password" name="password" style="margin-bottom:0px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-bottomright: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" placeholder="Password">
<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password">
<input type="hidden" class="form-control" id="redirect" name="redirect" value="">
<button class="btn btn-lg btn-block btn-color" type="submit">Sign up</button>
</form>
</div>
<div id="overlay" style="display: block; height: 297px;"></div>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    var images = ['01.jpg', '02.jpg', '03.jpg', '04.jpg', '05.jpg', '06.jpg', '07.jpg', '08.jpg', '09.jpg', '10.jpg'];
    $(document).ready(function(){
        $.backstretch('/static/images/' + images[Math.floor(Math.random() * images.length)] );
        position_elements();
    });

    $(window).resize(function(){
        position_elements();
    });

    function position_elements(){
        $('#overlay').css('height', $(window).height());
        $('.form-signin').css('top', ( ($(window).height()/2) - ($('.form-signin').height()/2) ) - $('.navbar').height() + 'px' );
        $('.backstretch, #overlay, .form-signin').fadeIn();
    }
</script>
</div>

<div id="footer" style="margin-top: 1479px;">© 2014 oClock</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<!--  <form action="/user/login" method="post">{% csrf_token %}
<label>Email</label>
<input type="text" name="u_email" /><br />
<label>Password</label>
<input type="text" name="u_password" /><br />
<input type="submit" value="send" />
</form>-->
{% endblock %}

{% block import_javascript_sup %}
<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<style type="text/css">
    html, body, #main_container{
        background:none;
    }
    .navbar.gallery-sub-header{
        display:none;
    }
    #footer, .backstretch, #overlay, .form-signin{
        display:none;
    }
</style>
<style type="text/css">
.btn.btn-color, input[type="submit"]{
	background:#db3b3b !important;
	color:#fff;
	border-radius:0px;
}

h2 i{
	color:#db3b3b;
}

.btn-color:hover{
	color:#fff;
}

.btn.btn-radio {
	background: #ef4f4f;
	color:#fff;
}

.btn.btn-radio.active {
	background:#db3b3b;
	color:#fff;
}

#nprogress .bar {
	background:#db3b3b;
}

#nprogress .spinner-icon {
	border-top-color:#db3b3b;
	border-left-color:#db3b3b;
}
#nprogress .peg {
	box-shadow: 0 0 10px #db3b3b, 0 0 5px #db3b3b;
}

.nav .caret, .nav>li>a, .navbar .navbar-nav>.active>a, .nav a:hover .caret{
	color:#db3b3b;
	border-top-color:#db3b3b;
	border-bottom-color:#db3b3b;
}

.navbar-nav>li>a.upload-btn, .navbar-inverse .navbar-nav>li>a:hover
{
	background:#db3b3b;
}

.active .nav-border-bottom{
	background:#db3b3b;
}

.form-control:focus{
	border-color:#db3b3b;
}

a.spcl-button.color {
	background-color:#db3b3b;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background:#db3b3b;
}

ul.tags li a{
	background:#db3b3b;
}

div.tagsinput span.tag{
	border:1px solid #db3b3b;
	color:#fff;
	background:#ef4f4f;
}

.table-striped>tbody>tr:first-child>th{
	background:#db3b3b;
	border:0px;
	color:#fff;
}

.table-striped>tbody>tr:first-child{
	border:0px;
}
.table-striped>tbody>tr:nth-child(2)>td{
	border-top-color:#ff6d6d;
}

.pagination>li>a{
	background:#a90909;
}

.pagination>li>span, .pagination>.active>span, .pagination>li>a:hover, .pagination>.active>span:hover{
	background:#ff6d6d;
}

.pagination>li>span:hover, .pagination>.disabled>span{
	background:#ff9f9f;
	color:#a90909;
}

.pagination>li>a, .pagination>li>span, .pagination>.disabled>span, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	border:1px solid #db3b3b;
}

div.tagsinput span.tag a{
	color:#a90909;
}

a.spcl-button.color:hover {
	background-color:#ef4f4f;
	color:#fff;
}

.btn.btn-prev:hover, .btn.btn-next:hover{
	background:#db3b3b;
}



/********** SECONDARY COLOR **********/
.home-media-like.active{
	background:#0098cb;
}

p.home-like-count{
	color:#0098cb;
}

a, a:hover, a:focus{
	color:#0098cb;
}

#user-dropdown p {
	color:#0098cb;
}

#next_media li a div.active, #next_media li a:hover div{
	border-color:#0098cb;
}

.admin-block.active, .admin-block:hover{
	border-color:#db3b3b;
}

h2.subheader{
	border-color:#a90909;
	background:#db3b3b;
}

.ouro:after {
	background-color:#db3b3b;
}

.ouro {
	background-color:#ff6d6d;
}

h2.subheader i{
	color:#a90909;
}

.load-more-btn{
	border-bottom-color:#a90909;
}


@media (max-width: 991px){
	.navbar.gallery-sub-header{
		top:52px;
	}
}


#random-bar{
    background:#41454E;
}

.navbar-fixed-top{
    background:#272A32;
}

.navbar.gallery-sub-header{
    background:#393D45;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/nprogress.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

    NProgress.start();

    
    var slide_pos = 1;

    $('#random-right').click(function(){
      if(slide_pos < 3){
        $('#random-slider').css('left', parseInt($('#random-slider').css('left')) - parseInt($('.random-container').width()) -28 + 'px') ;
        slide_pos += 1;
      }
    });

    $('#random-left').click(function(){
      if(slide_pos > 1){
        $('#random-slider').css('left', parseInt($('#random-slider').css('left')) + parseInt($('.random-container').width()) +28 + 'px') ;
        slide_pos -= 1;
      }
    });


  });


  $(window).load(function () {
    NProgress.done();
  });

  $(window).resize(function(){
    jquery_sticky_footer();
  });


  $(window).bind("load", function() {    
    jquery_sticky_footer();
  });

  function jquery_sticky_footer(){
    var footer = $("#footer");
    var pos = footer.position();
    var height = $(window).height();
    height = height - pos.top;
    height = height - footer.outerHeight();
    if (height > 0) {
      footer.css({'margin-top' : height+'px'});
    }
  }

  /********** Mobile Functionality **********/

  var mobileSafari = '';

  $(document).ready(function(){
    $('.mobile-menu-toggle').click(function(){
      $('.mobile-menu').toggle();
      $('body').toggleClass('mobile-margin').toggleClass('body-relative');
      $('.navbar').toggleClass('mobile-margin');
    });


    // Assign a variable for the application being used
    var nVer = navigator.appVersion;
    // Assign a variable for the device being used
    var nAgt = navigator.userAgent;
    var nameOffset,verOffset,ix;
   
   
    // First check to see if the platform is an iPhone or iPod
    if(navigator.platform == 'iPhone' || navigator.platform == 'iPod'){
      // In Safari, the true version is after "Safari" 
      if ((verOffset=nAgt.indexOf('Safari'))!=-1) {
        // Set a variable to use later
        mobileSafari = 'Safari';
      }
    }
   
    // If is mobile Safari set window height +60
    if (mobileSafari == 'Safari') { 
      // Height + 60px
      $('.mobile-menu').css('height', (parseInt($(window).height())+ 60) + 'px' );
    } else {
      // Else use the default window height
      $('.mobile-menu').css('height', $(window).height()); 
    };

  });

  $(window).resize(function(){
    // If is mobile Safari set window height +60
    if (mobileSafari == 'Safari') { 
      // Height + 60px
      $('.mobile-menu').css('height', (parseInt($(window).height())+ 60) + 'px' );
    } else {
      // Else use the default window height
      $('.mobile-menu').css('height', $(window).height()); 
    };
  });

/********** End Mobile Functionality **********/
</script>
<script type="text/javascript">try{ clicky.init(100704503); }catch(e){}</script>
{% endblock %}

{% block import_javascript %}
<p></p>
{% endblock %}

{% block import_css %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/style-responsive.min.css">
<link rel="stylesheet" href="/static/css/style-dark.min.css">
<link rel="stylesheet" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/noty.min.css">
<link rel="stylesheet" href="/static/css/nprogress.min.css">

<link rel="stylesheet" href="/static/css/login_signup.css">
{% endblock %}